/**
 * Fonts
 */
@font-face {
    font-family: 'Culture';
        src: url('../font/Culture.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Culture';
        src: url('../font/Culture-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
        src: url('../font/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
        src: url('../font/CaviarDreams_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Caviar Dreams';
        src: url('../font/CaviarDreams_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
        src: url('../font/CaviarDreams_BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}