.login{
    margin-top: 130px;
    min-height: 100vh;
    display: flex;
    background-color: $cl-beige2;

    // h1{
    //     font-size: 30px;
    // }

    .form-container{
        width: 40%;
        height: 100%;

        form{
            padding: 10vh 40px 5vh 40px;
        }
    }

    .title-container{
        width: 20%;
        height: 100%;
        background-color: $cl-beige1;
    }

    .img-container{
        width: 40%;
        height: 100%;
    }
}