/**
 * Font 
 */ 
$ft-primary: "Culture", "Times New Roman", "serif";
$ft-secondary: "Caviar Dreams", "sans-serif";

/**
 * Couleur
 */
$cl-black: #282828;
$cl-white: #FFFFFF;
$cl-pink1: #F2AAAE;
$cl-pink2: #FDE9EA;
$cl-beige1: #F4C09D;
$cl-beige2: #F5DBC8;
$cl-green1: #C9E0C4;
$cl-green2: #E3F0E0;
$cl-blue1: #D0E9E9;
$cl-blue2: #E8F2F2;
$cl-brown1: #915946;
$cl-brown2: #E0C2B8;
$cl-green: #566D46;
$cl-kaki: #899481;